<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<!-- 作用未知，未证实 -->
	<!-- <context:annotation-config> -->
	
	<!-- 已经证实，不加<mvc:annotation-driven/>会出现controller中的@RequestMapping("/toIndex")失效 
	有时候不加此标签，也会识别requestMapping。不知为何。
	-->
	<mvc:annotation-driven />
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<context:component-scan base-package="com.boyz.interceptor"></context:component-scan>
	<context:component-scan base-package="com.boyz.controller"></context:component-scan>
	<context:component-scan base-package="com.boyz.filter"></context:component-scan>
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<mvc:resources location="/js/jquery-ui-1.11.4.custom/" mapping="/jquery/**" ></mvc:resources>
	
	
	<!-- 在组建中通过@Value("#{paramsProperties['VALIDATE_XSS']}")初始化变量 -->
	<bean id="paramsProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list><value>classpath:params.properties</value></list>
		</property>
	</bean>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="paramsProperties" />
	</bean>
</beans>
